.container
	.row
		.page-header.clearfix
			h1 #{title}
			.col-md-4
				small Bienvenue sur le Movie Website Review
			.col-md-8
				form(method='GET', action='/results')
					.input-group.col-sm-4.pull-right
						input.form-control(type='text', name='q')
						span.input-group-btn
							button.btn.btn-default(type='submit') Recherche
.navbar.navbar-default.navbar-fixed-bottom
	.container
		.navbar-header
			a.navbar-brand(href="/") Accueil
		if user
			p.navbar-text.navbar-right
				span Bienvenue, #{user.name}
				span &nbsp;|&nbsp;
				a.navbar-link(href="/logout") Se déconnecter
		else
			p.navbar-text.navbar-right
				a.navbar-link(href="#", data-toggle="modal", data-target="#signupModal") S'enregistrer
				span &nbsp;|&nbsp;
				a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") Se connecter
#signupModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="POST", action="/user/signup")
				.modal-header S'enregistrer
				.modal-body
					.form-group
						label(for="signupName") Nom utilisateur
						input#signupName.form-control(name="user[name]", type="text")
					.form-group
						label(for="signupPassword") Mot de passe
						input#signupPassword.form-control(name="user[password]", type="text")
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") Fermer
					button.btn.btn-success(type="submit") Envoyer
#signinModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="POST", action="/user/signin")
				.modal-header Se connecter
				.modal-body
					.form-group
						label(for="signinName") Nom utilisateur
						input#signinName.form-control(name="user[name]", type="text")
					.form-group
						label(for="signinPassword") Mot de passe
						input#signinPassword.form-control(name="user[password]", type="text")
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") Fermer
					button.btn.btn-success(type="submit") Envoyer